.logo {
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}

body {
    height: 100vh;
    background-image: linear-gradient(lavender, purple);
}

.container {
    max-width: 955px;
    background-color: lemonchiffon;
    margin: auto;
    height: 60vh;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.message {
    background-color: pink;
    width: 25%;
    padding: 10px;
    margin: 17px 12px;
    border: 2px solid black;
    border-radius: 5px;
}

.left {
    float: left;
    clear: both;
}

.right {
    float: right;
    clear: both;
}

#send-container {
    text-align: center;
    max-width: 985px;
    margin: auto;
}

#message-input {
    width: 92%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}

.btn {
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}